<!DOCTYPE html>
<html>
    <title>
        Welcome to invetory management
    </title>
    <body>
        <h3>
            Welcome to inventory management system
        </h3>
        <a href="{{ url_for('dashboard') }}">Click here to view dashboard</a>
        <br />
        <a href="{{ url_for('add_item') }}">Click here to add item</a>
        <br />
        <a href="{{ url_for('inventory') }}">Click here to view inventory</a>
        <br />
        <a href="{{ url_for('sales') }}">Click here to view sales</a><br />

    </body>
</html>
